<card-total title={{title}} subtitle={{subtitle}} [total]="total" percentage={{percentage}}></card-total>
<!-- <div class="card mb-0">
    <div class="flex justify-content-between mb-3">
        <div>
            <span class="block text-500 font-medium mb-3">{{title}}</span>
            <div class="text-900 font-medium text-xl">{{total}}</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-orange-100 border-round">
            <i class="pi pi-map-marker text-orange-500 text-xl"></i>
        </div>
    </div>
    <span class="text-green-500 font-medium">%{{percentage}} </span>
    <span class="text-500">{{subtitle}}</span>
</div> -->

