<div class="card mt-4">
    <span class="block text-900 text-4xl mb-3 text-center">{{title}}</span>
    <p-table [value]="incidents" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th># de identificador</th>
                <th>Incidencia</th>
                <th>Categoría</th>
                <th>Fecha de Reporte</th>
                <th>Estatus</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-incident>
            <tr>
                <td>INC-{{incident.id}}</td>
                <td>{{incident.title}}</td>
                <td>{{incident.category.name}}</td>
                <td>{{incident.createdAt}}</td>
                <td><p-tag [value]="incident.status.description" [severity]="getSeverity(incident.status.description)"></p-tag></td>
            </tr>
            <!-- <tr>
                <td></td>
                <td colspan="4">{{incident.description}}</td>
            </tr> -->
        </ng-template>
        <!-- <ng-template pTemplate="summary">
            <div class="flex align-items-rigth justify-content-between text-rigth">
                In total there are {{incidents ? incidents.length : 0 }} incidents.
            </div>
        </ng-template> -->
    </p-table>
</div>