<div class="card mt-4">
    <span class="block text-900 text-4xl mb-3 text-center">{{title}}</span>
    <p-table [value]="incidents" [tableStyle]="{'min-width': '60rem'}"
        selectionMode="single" [(selection)]="selectIncident" dataKey="id"
        (onRowSelect)="details($event)">
        <ng-template pTemplate="header">
            <tr>
                <th># de identificador</th>
                <th>Incidencia</th>
                <th>Categoría</th>
                <th>Fecha de Reporte</th>
                <th>Estatus</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-incident>
            <tr [pSelectableRow]="incident">
                <td>INC-{{incident.id}}</td>
                <td>{{incident.title}}</td>
                <td>{{incident.category?.name}}</td>
                <td>{{incident.createdAt | date:"dd/MM/yyyy hh:mm:ss a":"+0000"}}</td>
                <td><p-tag [value]="incident.status.description" [severity]="getSeverity(incident.status.description)"></p-tag></td>
            </tr>
        </ng-template>
    </p-table>
</div>