<p-toast></p-toast>
<p-dialog [(visible)]="visible" [style]="{width: '450px'}" header="Nueva incidencia" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field pt-4">
            <span class="p-float-label">
                <input pInputText ="title" [(ngModel)]="incident.title" required  />
                <label htmlFor="title">Incidencia/Problema</label>
            </span>
            
        </div>
        <div class="field">
            <textarea id="description" [(ngModel)]="incident.description" pInputTextarea placeholder="Describe la incidencia ó problema" required rows="3" cols="20"></textarea>
        </div>
        <div class="field">
                <p-autoComplete [suggestions]="placesOptions" (completeMethod)="searchOnMap($event)" (onSelect)="onSelect($event)" placeholder="Dirección"></p-autoComplete>
        </div>
        <div class="relative w-full h-30rem mb-2" id="searchMap"></div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-raised p-button-text p-button-danger" (click)="visible = false"></button>
        <button pButton pRipple label="Reportar incidencia" icon="pi pi-check" class="p-button-success" (click)="create()"></button>
    </ng-template>
</p-dialog>