<div id="hero" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden h-auto md:h-screen" 
    style="background-image: linear-gradient(to left top, #e5e1ab, #b8e3b7, #8fe0d2, #7fd8ec, #96caf7);">
            
            <div id="menu">
                <a class="flex align-items-center" href="#">
                  <img src="assets/images/logo-dark.png" alt="Yo reporto Logo" height="50" class="mr-0 lg:mr-2" />
                  <span class="text-900 font-medium text-2xl line-height-3 mr-8">YO REPORTO</span>
                </a>
              </div>

              <div class="my-2 md:my-8">
                <div class="col-12">
                    <div class="text-center">
                        <h1 class="text-4xl md:text-6xl font-bold text-gray-900 uppercase title">
                            Haciendo que las Cosas Sucedan
                        </h1>
                    </div>
                </div>
            </div>
            
              <div class="flex flex-column md:flex-row">
                <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center p-4">
                        <p class="font-normal text-2xl md:text-5xl line-height-3 md:mt-3">
                            ¿Has encontrado una incidencia en tu ciudad que necesita atención?
                        </p>
                        <p class="font-normal text-md md:text-2xl line-height-3 mt-6 md:mt-6">
                            En <strong>Yo reporto</strong>, puedes ser parte de la solución. ¡No esperes a que
                            alguien más lo haga, haz que las cosas sucedan tú mismo!
                        </p>
                        <div class="flex justify-content-center border-top-1 lg:border-top-none surface-border py-3">
                            <button pButton pRipple label="Acceder"
                              class="p-button-text p-button-rounded border-none font-light line-height-2 text-blue-500"></button>
                            <button pButton pRipple label="Registrarse"
                              class="p-button-rounded border-none ml-5 font-light line-height-2 bg-blue-500 text-white"></button>
                          </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-push-6 text-center flex justify-content-center md:justify-content-center md:ml-8 my-8">
                    <img src="assets/images/screen-1.png" alt="Yo reporto Image" class="w-12 md:w-12" />
                </div>
            </div>
        </div>
